@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");

:root {
  --green: #5d6a09;
  --dark-green: #414a04;
  --red: #81150b;
  --yellow: #ffeccb;
}

h1,
h2 {
  font-family: "Cabin Sketch", cursive;
  color: var(--green) !important;
}

h1 {
  font-size: 7rem !important;
}

h2 {
  font-size: 3rem !important;
  font-variant: small-caps;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-image: url("../img/bg_pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  background-color: var(--red) !important;
}

main {
  background-color: rgb(255, 255, 255, 0.75);
}

.highlight {
  border-color: var(--green);
  border-style: double;
  border-width: 4px;
  display: flex;
  background-color: var(--yellow);
  justify-content: space-between;
  flex-wrap: nowrap;
}

.highlight .text {
  display: flex;
  flex-direction: column;
  max-width: calc(200% / 3);
}

footer {
  background-color: var(--red) !important;
  width: 100%;
  display: grid;
  place-items: center;
}

footer a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.highlight figure {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

p {
  line-height: 2;
  text-indent: 15px;
}

ul {
  list-style-image: url("../img/pizza_icon.png");
}
ul li {
  line-height: 30px;
}
li .name {
  font-weight: bold;
  color: var(--dark-green);
}

@media screen and (max-width <= 768px) {
  h1 {
    font-size: 50px !important;
  }

  .highlight {
    display: flex;
    flex-direction: column;
  }

  .highlight .text {
    flex-grow: unset;
    text-align: center;
  }

  .highlight img {
    flex-grow: unset;
  }
}
